/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./styles.css');


.loader {
  display: none;
  position: relative;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  animation: rotate 0.75s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 40px;
  border: 1px solid #FF3D00;
  border-width: 12px 2px 7px;
  border-radius: 2px 2px 1px 1px;
  box-sizing: border-box;
  transform: rotate(45deg) translate(24px, -10px);
  background-image: linear-gradient(#FF3D00 20px, transparent 0),
    linear-gradient(#FF3D00 30px, transparent 0),
    linear-gradient(#FF3D00 30px, transparent 0);
  background-size: 10px 12px, 1px 30px, 1px 30px;
  background-repeat: no-repeat;
  background-position: center, 12px 0px, 3px 0px;
}

.loader::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 4px;
  left: 20px;
  top: 47px;
  border-radius: 50%;
  color: #Fff;
  box-shadow: -4px 7px 2px, -7px 16px 3px 1px,
    -11px 24px 4px 1px, -6px 24px 4px 1px,
    -14px 35px 6px 2px, -5px 36px 8px 2px,
    -5px 45px 8px 2px, -14px 49px 8px 2px,
    6px 60px 11px 1px, -11px 66px 11px 1px,
    11px 75px 13px, -1px 82px 15px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg)
  }
}

.search-container {
  display: flex;
  justify-content: center;
}

#search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 15px;
  margin-top: 28px;
}

#search-input:hover {
  border: 1px solid #000;
}

#search-input:focus {
  border-color: #4e75ff;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  margin-left: 8px;
}

button:hover {
  background: #6c8cff;
}

#gallery {
display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

 .card {
width: calc((100% - 24px) /3);
margin-bottom: 24px;
}

.card img {
  width: 360px;
  height: 200px;
    
}

.card p:first-child {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.card p:last-child {
  font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.card-border {
  border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    width: 360px;
    height: 48px;

}

